{% extends 'userdata/base.html' %}

{% block content %}


<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>You are at Home</h1>

            {% if user.is_authenticated %}
                
            {% else %}
                <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Signup</a>
                <a role="button" class="btn btn-primary btn-lg" href="{% url 'loginuser' %}">Login</a>
            {% endif %}
        </div>
    </div>


{% endblock%}